$primary-color: #15202e;
$primary-color-light: #fafbfc;
$primary-color-text: #4c515f;
$link-color: #00aab3;
$link-hover-color: #01474a;
$accent-color: #4caf50;
$primary-text-color: #212121;
$light-color: #757575;
$divider-color: #bdbdbd;

$gray: #d8d8d8;
$gray-bg: #f1f4f6;

$default-dark: #2f353a;
$white: #fff;
$black: #000;
$dark: #23282c;
$white-font: $white;
$button-primary: $default-dark;
$button-primary-font: $white;
$button-secondary: #d1dbe1;
$button-secondary-font: $dark;
$border-color: #e4e7ea;
$gray-border-color: #e3e8ec;
$side-nav-active: #2d3844;
$profile-bg: #2d3844;
$toolbar-bg: #fafbfc;
$toolbar-left-bg: rgba(210, 210, 210, 0.5);

$red: #dc3545;
